.form-title {
  color: #686868;
  font-size: 22px;
  padding: 1em 0;
}

.form-creation {
  flex: 0 0 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 4em;

  .form-content {
    flex: 0 0 100%;
  }

  @media only screen and (max-width: 1020px) {
    .form-content {
      order: 2;
    }
  }

  @media only screen and (min-width: 650px) {
    .form-content {
      flex: 0 0 44%;
    }
  }

  @media only screen and (min-width: 1024px) {
    .form-content {
      flex: 0 0 35%;
    }
  }
}

.create-img {
  flex: 0 0 100%;
  text-align: center;
}

.form-content {
  border-radius: 5px;
  padding: 20px;
}

.label {
  float: left;
  font-weight: bold;
}

.input-fields {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  line-height: 1.25rem;
}
