.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h1-heading {
  padding: 10px;
}

.h3-headings {
  margin: 10px;
}

h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
